.Message{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: var(--Text-color);
    width: 60%;
    height: 60%;
    transition: .5s;

    position: fixed;
    top: 50%;
    left: -100%;
    transform: translate(-50%, -50%);   
}

.Message h1{
    color: var(--Background-color);
    font-size: 50px;
    padding-bottom: 10px;
}

.Message h2{
    color: var(--Background-color);
    font-size: 15px;
}

.MeiosDeContato{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 25px;

    gap: 2rem;
    font-size: 40px;
}

.MeiosDeContato a{
    color: var(--Background-color);
    height: 60px;

    transition: .5s;
}

.MeiosDeContato a:hover{
    color: var(--Span-color);
    font-size: 50px;

    transform: translateY(5px);
}

.Close{
    position: absolute;
    top: 50px;
    right: 50px;   
}

.Close i{
    color: var(--Background-color);
    cursor: pointer;

    z-index: 999;
    transition: .5s;
}

.Close i:hover{
    color: red;

    transform: rotate(360deg);
}


.Container{
    opacity: 1;
}

@media (max-width: 376px) {
    .Message h1{
        font-size: 25px;
    }
    .Message h2{
        font-size: 10px;
    }
    .MeiosDeContato a{
        font-size: 30px;
    }
    .MeiosDeContato a:hover{
        font-size: 35px;
    }
    .Close{
        top: 30px;
        right: 30px;
    }
}

/* Iphone XR */

@media (max-width: 414px) {
    .Message h1{
        font-size: 25px;
    }
    .Message h2{
        font-size: 10px;
    }
    .MeiosDeContato a{
        font-size: 30px;
    }
    .MeiosDeContato a:hover{
        font-size: 35px;
    }
    .Close{
        top: 30px;
        right: 30px;
    }
}

/* Iphone 12 Pro */

@media (max-width: 390px) {
    .Message h1{
        font-size: 25px;
    }
    .Message h2{
        font-size: 10px;
    }
    .MeiosDeContato a{
        font-size: 30px;
    }
    .MeiosDeContato a:hover{
        font-size: 35px;
    }
    .Close{
        top: 30px;
        right: 30px;
    }
}

/* Galaxy Fold */

@media (max-width: 280px) {
    .Message h1{
        font-size: 25px;
    }
    .Message h2{
        font-size: 10px;
    }
    .MeiosDeContato a{
        font-size: 30px;
    }
    .MeiosDeContato a:hover{
        font-size: 35px;
    }
    .Close{
        top: 30px;
        right: 30px;
    }
}

@media (max-width: 912px) {
    .Message h1{
        font-size: 25px;
    }
    .Message h2{
        font-size: 10px;
    }
    .MeiosDeContato a{
        font-size: 30px;
    }
    .MeiosDeContato a:hover{
        font-size: 35px;
    }
    .Close{
        top: 30px;
        right: 30px;
    }
    .Message{
        width: 60%;
        height: 40%;  
    }
}

