
.Btn-Header{
    left: 50px;
    top: 50px;
    display: block;
    position: fixed;
    z-index: 9;
    cursor: pointer;
    color: var(--Span-color);
    font-size: 25px;
    transition: .6s;
}

.Btn-Header:hover{
    transform: rotate(360deg);
}

.Header{
    position: fixed;
    display: flex;
    left: -600px;
    width: 20%;
    height: 100%;
    background-color:var(--Text-color);
    z-index: 9;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    transition: .5s;
    gap: 20rem;
}

.Line-1{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    color: var(--Background-color); 
}

.Line-2{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;

    color: var(--Background-color);
}

.Line-2 a{
    font-size: 30px;
}

.Line-2 a:hover{
    font-size: 50px;
}

.Header-Titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#Btn-Close-Header{
    cursor: pointer;
    transition: .5s;
}

#Btn-Close-Header:hover{
    cursor: pointer;
    color: var(--Span-color);
    transform: rotate(180deg);
}

#Dark-Mode{
    display: auto;
    cursor: pointer;
    transition: 1s ;
}

#Dark-Mode:hover{
    color: var(--Span-color);

    transform: rotate(360deg);
}

#Light-Mode{
    display: none;
    cursor: pointer;
    transition: 1s ;
}

#Light-Mode:hover{
    color: var(--Span-color);

    transform: rotate(360deg);
}


.Header a{
    text-decoration: none;
    color: var(--Second-Background-color);
    width: fit-content;
    transition: .2s;
}

.Header a:hover{
    color: var(--Span-color);
    text-decoration: underline;
}

.Header h1{
    font-size: 20px;
    font-weight: bold;
    color: var(--Background-color);
}

.Header span{
    color: var(--Span-color);
}


/* Iphone SE */

@media (max-width: 376px) {
    .Header{
        width: 60%;
    }
    .Btn-Header{
        left: 20px;
        top: 50px;
        display: block;
        position: fixed;
    }
}

/* Iphone XR */

@media (max-width: 414px) {
    .Header{
        width: 60%;
    }
}

/* Iphone 12 Pro */

@media (max-width: 390px) {
    .Header{
        width: 60%;
    }
}

/* Galaxy Fold */

@media (max-width: 280px) {
    .Header{
        width: 60%;
    }
}

@media (max-width: 912px) {
    .Header{
        width: 60%;
    }
}