/* Responsividade */

/* Iphone SE */

@media (max-width: 375px) {
    .Header{
        width: 60%;
    }
}

/* Iphone XR */

@media (max-width: 414px) {
    .Header{
        width: 60%;
    }
}

/* Iphone 12 Pro */

@media (max-width: 390px) {
    .Header{
        width: 60%;
    }
}

/* Galaxy Fold */

@media (max-width: 280px) {
    .Header{
        width: 60%;
    }
}