/* Sobre */

.Container-Sobre{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 4.5rem;
}

.col-1-sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.col-1-sobre h1{
    font-size: 40px;
    color: var(--Text-color);
}

.col-1-sobre h2{
    margin-top: 1rem;
    font-size: 15px;
    color: var(--Text-color);
    max-width: 100%;
}

.col-1-sobre h3{
    font-size: 20px;
    color: var(--Span-color);
}

.col-2-sobre{
    width: 20%;
}

.col-2-sobre img{
    width: 100%;
    border-radius: 20px;
}

@media (max-width: 880px) {
    .col-1-sobre{
        width: 80%;
    }

    .col-2-sobre{
        display: none;
    }
   
}
