*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --Background-color: #2d2e2c;
    --Second-Background-color: #282828;
    --Text-color: #f7dece;
    --Span-color: #9ec4bb;
}

body{
  display: flex;
  flex-direction: column;  
  background-color: var(--Background-color);

  width: 100%;
}


::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }
  

::-webkit-scrollbar-thumb {
    background-color: var(--Span-color);
}
  


